/* */
body{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 16px;
    background-color: rgb(7, 7, 27);
    color: white;
}

header{
    margin: 0 auto;
    width: 70%;
}

h1{
    text-align: center;
	width: 90%;
	border-radius: 20px;
	background-color: aliceblue;
	color: rgb(10, 7, 31);
}

nav ul{
    width: 70%;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

a{
    color: rgb(100, 96, 128);
    font-style: italic;
}

h2{
    font-size:large;
}

p{
    font-size: small;
}